.divUp{
    font-family: Poppins, sans-serif;
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: #5CCB9A;
    align-items: center;
    justify-content: left;
    display:flex;
    flex-direction: row;
}
#body{
    position: absolute;
    width: 200%;
    height: 200%;
    background: #5CCB9A;
    opacity: 50%;
}
body{
    font-family: Poppins, sans-serif;
    margin: 0;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column; 
}


.uptext{
    margin-left: 60px;
    color: aliceblue;
}

#newEventTxt{
    text-decoration-line: underline;
   
}
#user{
    margin-left: 60%;
}

.logo{
    margin-left: 50px;
}

#tittle{
    margin-top: 40px;
    margin-bottom: 0;
    color: #041826;
}
#contenido{
    width: 50%;
    justify-content: left;
}
.text{
    margin-top: 50px;
    color: #041826;
    font-size: 18px;
    font-weight: 700;
}
.input{
    color: #8EAABA;
    width: 100%;
    border-width: 0;
    background-color: #E5EEF1;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

#registerBtn{
    border-width: 0;
    border-radius: 5px;
    padding: 10px;
    margin: 30px;
    background-color: #5186A5;
    color: aliceblue;
}
#qrcode{
    position: absolute;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 22px;
    background-color: #E5EEF1;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column; 
    box-shadow: 10px 10px 10px rgb(3, 56, 47);
}
.ok{
    font-size: 24px;
    border-width: 0;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: #5186A5;
    color: aliceblue;
}